<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/stylesheet.css">
</head>
<body>
    <header>
        <nav class="header-nav">
            <div class="nav-links">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/signin">Sign In</a>
                <a href="/signup">Sign Up</a>
            </div>
        </nav>
    </header> 
<!-- Title block -->
    <div class="topic-block">
        <h1>News Article Classification</h1>
    </div>
    
 <!-- Upload block -->
        <div class="upload-block">
          <div class="container">
            <h1 class="NGC">Enter News Here: </h1>
            <form action="" method="post">
                <textarea name="news_clip" id="news_clip" rows="12" cols="80" placeholder="Enter News text here"></textarea><br><br>
                
                <button class="button">
                    Classify
                    <div class="hoverEffect">
                    <div></div>
                    </div>
                </button>
            </form>
        </div>
        
    </div>
    <!-- To display the Genre prediction -->
            <div class="display-block">
                <div class="cookieCard">
                    <p class="cookieHeading"></p> 
                    <hr class="hr0"><hr class="hr"><hr class="hr1">
                    <p class="cookieDescription">{{content}} </p>
                  </div>
            </div>
         
<!-- Chart and Graph block-->
<!-- <div class="chart-graph-block">
<div class="chart-graph-title">
    <div class="chart-title"><h3 class="h3">  Visualization-chart</h3> </div>
    <div class="graph-title"> <h3 class="h32"> Visualization-graph</h3></div>
 </div> -->
<!--Chart and Graph -->
 <!-- <div class="CHART_GRAPH">
    <div class="Chart"> <img src="../static/asset/Visualization_panel_chart1.png" class="chart-img"> </div>
    <div class="Graph"> <img src="../static/asset/Chart_Graph1.png" class="graph-img"> </div>
 </div> 
</div>   -->
<!-- footer block-->
<div class="footer_block"> 
    <footer>
      <div class="footer-links">
          <a href="../static/asset/Footer_images/A_Project_on_1.jpg">A project on </a> |
          <a href="../static/asset/Footer_images/Certificate_Director_1.jpg">Certificate*</a> |
          <a href="../static/asset/Footer_images/Certificate_Project_Associate_1.jpg">Certificate**</a> |
          <a href="../static/asset/Footer_images/Declaration_1.jpg">Declaration</a> |
          <a href="../static/asset/Footer_images/Acknowledgement_1.jpg">Acknowledgement</a> |
          <a href="../static/asset/Footer_images/abstract_1.jpg">Abstarct</a> |
          <a href="/careers">Future Development</a> |
          |
          <a href="/support">Support</a>
      </div>
      <p>&copy; 2025.G Ganthuingam. NIELIT-IMPHAL.</p>
  </footer>
  </div>
</body>
</html>